  <!-- content-section-starts -->
  <app-header></app-header>
  <div class="cart-items">
    <div class="container">
         <h1>My Shopping Bag (3)</h1>
         <div class="cart-header">
           <div class="close1"> </div>
           <div class="cart-sec simpleCart_shelfItem">
              <div class="cart-item cyc">
                 <img src="assets/images/cuisine3.jpg" class="img-responsive" alt="">
              </div>
               <div class="cart-item-info">
              <h3><a href="#"> Lorem Ipsum is not simply </a><span>Pickup time:</span></h3>
              <ul class="qty">
                <li><p>Min. order value:</p></li>
                <li><p>FREE delivery</p></li>
              </ul>
                 <div class="delivery">
                 <p>Service Charges : $10.00</p>
                 <span>Delivered in 1-1:30 hours</span>
                 <div class="clearfix"></div>
                  </div>	
               </div>
               <div class="clearfix"></div>
                        
            </div>
         </div>
  
         <div class="cart-header2">
           <div class="close2"> </div>
            <div class="cart-sec simpleCart_shelfItem">
              <div class="cart-item cyc">
                 <img src="assets/images/cuisine2.jpg" class="img-responsive" alt="">
              </div>
               <div class="cart-item-info">
              <h3><a href="#"> Lorem Ipsum is not simply </a><span>Pickup time:</span></h3>
              <ul class="qty">
                <li><p>Min. order value:</p></li>
                <li><p>FREE delivery</p></li>
              </ul>
                 <div class="delivery">
                 <p>Service Charges : $10.00</p>
                 <span>Delivered in 1-1:30 hours</span>
                 <div class="clearfix"></div>
                  </div>	
               </div>
               <div class="clearfix"></div>
                        
            </div>
          </div>
          <div class="cart-header3">
           <div class="close3"> </div>
            <div class="cart-sec simpleCart_shelfItem">
              <div class="cart-item cyc">
                 <img src="assets/images/cuisine1.jpg" class="img-responsive" alt="">
              </div>
               <div class="cart-item-info">
              <h3><a href="#"> Lorem Ipsum is not simply </a><span>Pickup time:</span></h3>
              <ul class="qty">
                <li><p>Min. order value:</p></li>
                <li><p>FREE delivery</p></li>
              </ul>
                 <div class="delivery">
                 <p>Service Charges : $10.00</p>
                 <span>Delivered in 1-1:30 hours</span>
                 <div class="clearfix"></div>
                  </div>	
               </div>
               <div class="clearfix"></div>
                        
            </div>
          </div>		
       </div>
       </div>
  
       
    <div class="contact-section" id="contact">
        <div class="container">
          <div class="contact-section-grids">
            <div class="col-md-3 contact-section-grid wow fadeInLeft" data-wow-delay="0.4s">
              <h4>Site Links</h4>
              <ul>
                <li><i class="point"></i></li>
                <li class="data"><a href="#">About Us</a></li>
              </ul>
              <ul>
                <li><i class="point"></i></li>
                <li class="data"><a href="#">Contact Us</a></li>
              </ul>
              <ul>
                <li><i class="point"></i></li>
                <li class="data"><a href="#">Privacy Policy</a></li>
              </ul>
              <ul>
                <li><i class="point"></i></li>
                <li class="data"><a href="#">Terms of Use</a></li>
              </ul>
            </div>
            <div class="col-md-3 contact-section-grid wow fadeInLeft" data-wow-delay="0.4s">
              <h4>Site Links</h4>
              <ul>
                <li><i class="point"></i></li>
                <li class="data"><a href="#">About Us</a></li>
              </ul>
              <ul>
                <li><i class="point"></i></li>
                <li class="data"><a href="#">Contact Us</a></li>
              </ul>
              <ul>
                <li><i class="point"></i></li>
                <li class="data"><a href="#">Privacy Policy</a></li>
              </ul>
              <ul>
                <li><i class="point"></i></li>
                <li class="data"><a href="#">Terms of Use</a></li>
              </ul>
            </div>
            <div class="col-md-3 contact-section-grid wow fadeInRight" data-wow-delay="0.4s">
              <h4>Follow Us On...</h4>
              <ul>
                <li><i class="fb"></i></li>
                <li class="data"> <a href="#">  Facebook</a></li>
              </ul>
              <ul>
                <li><i class="tw"></i></li>
                <li class="data"> <a href="#">Twitter</a></li>
              </ul>
              <ul>
                <li><i class="in"></i></li>
                <li class="data"><a href="#"> Linkedin</a></li>
              </ul>
              <ul>
                <li><i class="gp"></i></li>
                <li class="data"><a href="#">Google Plus</a></li>
              </ul>
            </div>
            <div class="col-md-3 contact-section-grid nth-grid wow fadeInRight" data-wow-delay="0.4s">
              <h4>Subscribe Newsletter</h4>
              <p>To get latest updates and food deals every week</p>
              <input type="text" class="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
              <input type="submit" value="submit">
              </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
  